{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'authors/pages/head.html'%}
    {% comment %} {% block title %} Registro | {% endblock title %} {% endcomment %}
    <title>Registro</title>
</head>
<body>
        <div class="main-content center container">
            <h2>Registro</h2>
        </div>
</body>
</html>